{% extends 'parent.html' %}
{% block title %}
    <title>child</title>
{% endblock %}
<!--
    ## we block the body content of parent clss this is we can do.
{% block body_block %}
    <h1>this is chaild html page</h1>
    <a href=""><h1 class="btn btn-warning">this is child button</h1></a>
{% endblock %}
-->
<!--
    if we want to need parent class aloung with child content we need this type.
-->
{% block body_block %}
    <h2>These are belongs to child html page</h2>
    <h2>These are belongs to child html page</h2>
    <h2>These are belongs to child html page</h2>
{% endblock %}